<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script type="text/javascript">
        var wsUrl = 'ws://' + document.domain + ':' + location.port;
        var socket = io.connect(wsUrl);

        socket.on('connect', function () {
            console.log(`Connected to the server ${wsUrl}`);
        });

        socket.on('response', function (data) {
            console.log('Server says: ' + data);
        });

        function sendMessage() {
            var message = document.getElementById('message').value;
            socket.emit('message', message);
        }
    </script>
</head>
<body>
    <h1>WebSocket Example</h1>
    <input type="text" id="message" placeholder="Type a message">
    <button onclick="sendMessage()">Send</button>
</body>
</html>